In [1]:
import warnings
warnings.filterwarnings('ignore')

Question 3: -
Write a program, which would download the data from the provided link, and then read the data and convert
that into properly structured data and return it in Excel format.
Note - Write comments wherever necessary explaining the code written.

Link - https://raw.githubusercontent.com/Biuni/PokemonGO-Pokedex/master/pokedex.json

Data Attributes - id: Identification Number - int 

num: Number of the Pokémon in the official Pokédex - int

name: Pokémon name -string

img: URL to an image of this Pokémon - string 

type: Pokémon type -string 

height: Pokémon height - float

● weight: Pokémon weight - float 

candy: type of candy used to evolve Pokémon or
given when transferred - string

candy_count: the amount of candies required to evolve
- int

● egg: Number of kilometers to travel to hatch the egg - float 

spawn_chance: Percentage of spawn chance (NEW) - float

avg_spawns: Number of this pokemon on 10.000 spawns (NEW) - int

● spawn_time: Spawns most active at the time on this field. Spawn times are the same for all
time zones and are expressed in local time. (NEW) - “minutes: seconds”

multipliers:
Multiplier of Combat Power (CP) for calculating the CP after evolution See below - list of int

weakness: Types of Pokémon this Pokémon is weak to - list of strings next_evolution: Number and Name of successive evolutions of Pokémon - list of dict 

prev_evolution: Number and Name of previous evolutions of Pokémon - - list of dict

In [2]:
import pandas as pd
from pandas.io.json import json_normalize
df = pd.read_json('https://raw.githubusercontent.com/Biuni/PokemonGO-Pokedex/master/pokedex.json')

In [3]:
df = json_normalize(df['pokemon'])

In [68]:
df.info()

# # ● spawn_time: Spawns most active at the time on this field. 
# Spawn times are the same for all time zones and are expressed
# in local time. (NEW) - “minutes: seconds”
    
# multipliers: Multiplier of Combat Power (CP) for calculating the CP after evolution See below - list of int
# #
# weakness: Types of Pokémon this Pokémon is weak to - list of strings next_evolution: Number and Name of successive evolutions of Pokémon - list of dict

# prev_evolution: Number and Name of previous evolutions of Pokémon - - list of dict

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151 entries, 0 to 150
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              151 non-null    int64
 1   num             151 non-null    int32
 2   name            151 non-null    object
 3   img             151 non-null    object
 4   type            151 non-null    object
 5   height          151 non-null    float64
 6   weight          151 non-null    float64
 7   candy           151 non-null    object
 8   candy_count     151 non-null    int32
 9   egg             151 non-null    float64
 10  spawn_chance    151 non-null    float64
 11  avg_spawns      151 non-null    int32
 12  spawn_time      151 non-null    object
 13  multipliers     70 non-null     object
 14  weaknesses      151 non-null    object
 15  next_evolution  70 non-null     object
 16  prev_evolution  72 non-null     object
dtypes: float64(4), int32(3), int64(1), object(9)
memory usage: 18.4+ KB

In [13]:
df['num'] = df['num'].astype(int)

In [15]:
df['name'] =df['name'].astype(str)

In [20]:
df['height'] = df['height'].str.split(' ').str[0].astype(float)

In [24]:
df['weight'] = df['weight'].str.split(' ').str[0].astype(float)

In [39]:
df['candy_count'].fillna(0,inplace=True)
df['candy_count'].isnull().sum()

0

In [41]:
df['candy_count'] = df['candy_count'].astype(int)

In [48]:
# ● egg: Number of kilometers to travel to hatch the egg - float

df['egg'].value_counts()

Not in Eggs      77
5 km             42
10 km            17
2 km             14
Omanyte Candy     1
Name: egg, dtype: int64

In [52]:
df['egg'] = df['egg'].replace('Not in Eggs', '0 km')
df['egg'] = df['egg'].replace('Omanyte Candy', '0 km')

In [58]:
df['egg'] = df['egg'].str.split(' ').str[0].astype(float)

In [65]:
df['avg_spawns'] = round(df['avg_spawns']).astype(int)

In [79]:
df[['weaknesses','next_evolution','prev_evolution']]

,weaknesses,next_evolution,prev_evolution
0,"[Fire, Ice, Flying, Psychic]","[{'num': '002', 'name': 'Ivysaur'}, {'num': '0...",NaN
1,"[Fire, Ice, Flying, Psychic]","[{'num': '003', 'name': 'Venusaur'}]","[{'num': '001', 'name': 'Bulbasaur'}]"
2,"[Fire, Ice, Flying, Psychic]",NaN,"[{'num': '001', 'name': 'Bulbasaur'}, {'num': ..."
3,"[Water, Ground, Rock]","[{'num': '005', 'name': 'Charmeleon'}, {'num':...",NaN
4,"[Water, Ground, Rock]","[{'num': '006', 'name': 'Charizard'}]","[{'num': '004', 'name': 'Charmander'}]"
...,...,...,...
146,"[Ice, Dragon, Fairy]","[{'num': '148', 'name': 'Dragonair'}, {'num': ...",NaN
147,"[Ice, Dragon, Fairy]","[{'num': '149', 'name': 'Dragonite'}]","[{'num': '147', 'name': 'Dratini'}]"
148,"[Ice, Rock, Dragon, Fairy]",NaN,"[{'num': '147', 'name': 'Dratini'}, {'num': '1..."
149,"[Bug, Ghost, Dark]",NaN,NaN
150,"[Bug, Ghost, Dark]",NaN,NaN

In [80]:
df.to_excel('pokemon.xls',index=False,header=True)

In [81]:
df2 = pd.read_excel('pokemon.xls')

In [82]:
df2.head(1)

,id,num,name,img,type,height,weight,candy,candy_count,egg,spawn_chance,avg_spawns,spawn_time,multipliers,weaknesses,next_evolution,prev_evolution
0,1,1,Bulbasaur,http://www.serebii.net/pokemongo/pokemon/001.png,"['Grass', 'Poison']",0.71,6.9,Bulbasaur Candy,25,2,0.69,69,20:00,[1.58],"['Fire', 'Ice', 'Flying', 'Psychic']","[{'num': '002', 'name': 'Ivysaur'}, {'num': '0...",NaN

In [83]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151 entries, 0 to 150
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              151 non-null    int64
 1   num             151 non-null    int32
 2   name            151 non-null    object
 3   img             151 non-null    object
 4   type            151 non-null    object
 5   height          151 non-null    float64
 6   weight          151 non-null    float64
 7   candy           151 non-null    object
 8   candy_count     151 non-null    int32
 9   egg             151 non-null    float64
 10  spawn_chance    151 non-null    float64
 11  avg_spawns      151 non-null    int32
 12  spawn_time      151 non-null    object
 13  multipliers     70 non-null     object
 14  weaknesses      151 non-null    object
 15  next_evolution  70 non-null     object
 16  prev_evolution  72 non-null     object
dtypes: float64(4), int32(3), int64(1), object(9)
memory usage: 18.4+ KB

In [8]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151 entries, 0 to 150
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              151 non-null    int64
 1   num             151 non-null    int64
 2   name            151 non-null    object
 3   img             151 non-null    object
 4   type            151 non-null    object
 5   height          151 non-null    object
 6   weight          151 non-null    object
 7   candy           151 non-null    object
 8   candy_count     70 non-null     float64
 9   egg             151 non-null    object
 10  spawn_chance    151 non-null    float64
 11  avg_spawns      151 non-null    float64
 12  spawn_time      145 non-null    object
 13  multipliers     70 non-null     object
 14  weaknesses      151 non-null    object
 15  next_evolution  70 non-null     object
 16  prev_evolution  72 non-null     object
dtypes: float64(3), int64(2), object(12)
memory usage: 20.2+ KB